@import 'styles/brand.less';
@import 'styles/typography.less';
@import 'styles/grid.less';
@import 'styles/mixins.less';
/* All images are named from the site at which they were taken from any edited images are also named accordingly with (edited) at the end*/

.container {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	background: @color5;
}

#active{
	.active-indicator;
}

header{
	h1 {
		.column(6);
		padding-top: 50px;
		padding-left: 50px;
		a {
			color: @color4;
			&:hover {
				text-decoration:none;
				font-family: @bodyfontfamily;
			}
		}
			}
			aside{
				float: right;
				background: url("../Images/getOnItunes.jpg") no-repeat;
				background-size: 100% 100%;
				text-indent: -999999px;
				border-radius: 16%;
				width: 130px;
				height:130px;
				margin-top: 5px;
				margin-right: 10px;
				a{
					.full-size-link;
				}

			}
			nav {
				.column(12);
				height:18px;
				border-bottom: 3px solid @color3;
				text-align: center;
				margin-top: 9px;
				ul {
					height:16px;
					margin: 0 auto;
					li {
						display: inline-block;
						color: @color1;
						font-size: @basefontsize*1.5;
						margin: 0 5px;
					}
				}
			}
		&#top{
			background:url("../Images/acidstag(dot)com(edited).jpg") no-repeat;
			.header-setup;
		}
		&#top-tour{
			background:url("../Images/buzznet(dot)com(edited).jpg") no-repeat;
			.header-setup;
		}
		&#top-about{
			background:url("../Images/themusic(dot)com(dot)au(edited).jpg") no-repeat;
			.header-setup;
		}
}


section{
	&#maincolumn{
		.column(12);
		.section-setup;
		h2{
			margin-bottom: 10px;
		}
		ul{
			li{
				.border-radius;
				background: @color2;
				.column(6);
				margin-bottom: 10px;
				iframe{
					.column(12);
				}
				article{
					width: 100%;
					cursor: default;
					h3{
						.column(12);
						color: @color5;
						padding-top: 10px;
					}
					p{	
						color: @color3;
						background: @color2;
						.border-radius;
						overflow: hidden;
						font-weight: @headingfontweight;
						.column(4);
						text-align: center;
						padding: 5px 0;
					}
				}


			}
		}
	}
	&#aboutLorde{
		.column(12);
		.section-setup;
		img{
			.column(3);
			min-width:150px;
			.border-radius;
			margin-top: 10px;
		}
		P{
			color: @color2;
			line-height: 30px;
			margin: 10px 0;
			font-size: @basefontsize*1.25;
			a{
				color: @color3;
			}
		}
	}
	&#tourcolumn {
			.column(8);
			.section-setup;
			h2{
				margin: 10px 0;
			}
			ul{
				.column(12);
				li{
					.column(12);
					margin: 10px 0;
					article.tourEvent{
						cursor: default;
						section.tourDate{
							float:left;
							.border-radius;
							width: 75px;
							height: 100px;
							text-align: center;
							margin-bottom: 10px;
							background: @color2;
							h2{
								color: @color3;
								span{
									.column(12);
									padding: 5px 0;
								}
							}
							p{	
								color: @color1;
								font-size: @basefontsize;
							}
							span.year{
								.column(12);
								
							}
				}

				aside.tourInfo{
					h3{
						float: left;
						width: 65%;
						margin-left: 10px;
						span{
							.column(12);
							color: @color3;
							margin: 0;
						}
					}

					button{
						.column(5);
						height: 30px;
						float: right;
						.border-radius;
						background: @color2;
						margin-top: 40px;
						a{
							padding-top: 3px;
							.full-size-link;
						}
					}

				}
				
			}
		}
	}
	}
}
aside#sidebar {
		.column(4);
		overflow: hidden;
		img{
			&#tour{
				margin: 10px 0;
				width:100%;
				.border-radius;
			}
		}
}

footer{
	.column(12);
	background: @color2;
	text-align: center;
	p{
		color: @color1;
		padding: 5px;
		font-size: @basefontsize*.8;
		cursor:default;
	}
}