body {
  font-family: Georgia, "Times New Roman", serif;
}
p {
  font-size: 16px;
  color: #3CBDC8;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  color: #3cbdc8;
}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
}
a {
  color: #3cbdc8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: #2BB293;
}
#active {
  text-decoration: line-through;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}
header h1 {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
}
header h1 a {
  margin: 5px 0 5px 10px;
  color: #898989;
}
header h1 a:hover {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", serif;
}
header aside {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  background: url("../Images/getOnItunes.jpg") no-repeat;
  background-size: 100% 100%;
  text-indent: -999999px;
  border-radius: 16%;
  height: 130px;
  margin-top: 5px;
}
header aside a {
  display: block;
  width: 100%;
  height: 100%;
}
header nav {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  height: 21px;
  border-bottom: 2px solid #d44072;
  text-align: center;
  margin-top: 9px;
}
header nav ul {
  height: 16px;
  margin: 0 auto;
}
header nav ul li {
  display: inline-block;
  color: #3cbdc8;
  font-size: 24px;
  margin: 0 5px;
}
header#top {
  height: 175px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background: url("../Images/acidstag(dot)com(edited).jpg") no-repeat;
  background-size: 100% 100%;
}
header#top-tour {
  height: 175px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background: url("../Images/buzznet(dot)com(edited).jpg") no-repeat;
  background-size: 100% 100%;
}
header#top-about {
  height: 175px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background: url("../Images/themusic(dot)com(dot)au(edited).jpg") no-repeat;
  background-size: 100% 100%;
}
aside#sidebar {
  display: inline;
  float: left;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
}
aside#sidebar img#tour {
  margin: 10px 0;
  width: 100%;
}
section#maincolumn {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.0416666666666665%;
  overflow: auto;
}
section#maincolumn h2 {
  margin: 10px 0;
}
footer {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background: #000000;
  text-align: center;
}
footer p {
  padding: 5px;
  font-size: 11.2px;
}
