body {
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 13px;
  color: #393939;
}
h1 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 27.999999999999954px;
  font-weight: 700;
}
h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 21.99999999999997px;
  font-weight: 700;
}
h3 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 17.99999999999994px;
  font-weight: 700;
  color: #393939;
}
a {
  color: #3cbdc8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.section-setup {
  max-height: 606px;
  margin-top: 10px;
  overflow: auto;
  cursor: default;
}
.header-setup {
  height: 175px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-size: 100% 100%;
}
.active-indicator {
  text-decoration: line-through;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}
.full-size-link {
  display: block;
  width: 100%;
  height: 100%;
}
/* All images are named from the site at which they were taken from any edited images are also named accordingly with (edited) at the end*/
.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: #2bb293;
}
#active {
  text-decoration: line-through;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}
header h1 {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  padding-top: 50px;
  padding-left: 50px;
}
header h1 a {
  color: #898989;
}
header h1 a:hover {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
header aside {
  float: right;
  background: url("../Images/getOnItunes.jpg") no-repeat;
  background-size: 100% 100%;
  text-indent: -999999px;
  border-radius: 16%;
  width: 130px;
  height: 130px;
  margin-top: 5px;
  margin-right: 10px;
}
header aside a {
  display: block;
  width: 100%;
  height: 100%;
}
header nav {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  height: 18px;
  border-bottom: 3px solid #d44072;
  text-align: center;
  margin-top: 9px;
}
header nav ul {
  height: 16px;
  margin: 0 auto;
}
header nav ul li {
  display: inline-block;
  color: #3cbdc8;
  font-size: 19.5px;
  margin: 0 5px;
}
header#top {
  background: url("../Images/acidstag(dot)com(edited).jpg") no-repeat;
  height: 175px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-size: 100% 100%;
}
header#top-tour {
  background: url("../Images/buzznet(dot)com(edited).jpg") no-repeat;
  height: 175px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-size: 100% 100%;
}
header#top-about {
  background: url("../Images/themusic(dot)com(dot)au(edited).jpg") no-repeat;
  height: 175px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-size: 100% 100%;
}
section#maincolumn {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  max-height: 606px;
  margin-top: 10px;
  overflow: auto;
  cursor: default;
}
section#maincolumn h2 {
  margin-bottom: 10px;
}
section#maincolumn ul li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #393939;
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 10px;
}
section#maincolumn ul li iframe {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
section#maincolumn ul li article {
  width: 100%;
  cursor: default;
}
section#maincolumn ul li article h3 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  color: #2bb293;
  padding-top: 10px;
}
section#maincolumn ul li article p {
  color: #d44072;
  background: #393939;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  font-weight: 700;
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  text-align: center;
  padding: 5px 0;
}
section#aboutLorde {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  max-height: 606px;
  margin-top: 10px;
  overflow: auto;
  cursor: default;
}
section#aboutLorde img {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin: 0 1.0416666666666665%;
  min-width: 150px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
section#aboutLorde P {
  color: #393939;
  line-height: 30px;
  margin: 10px 0;
  font-size: 16.25px;
}
section#aboutLorde P a {
  color: #d44072;
}
section#tourcolumn {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
  max-height: 606px;
  margin-top: 10px;
  overflow: auto;
  cursor: default;
}
section#tourcolumn h2 {
  margin: 10px 0;
}
section#tourcolumn ul {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
section#tourcolumn ul li {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin: 10px 0;
}
section#tourcolumn ul li article.tourEvent {
  cursor: default;
}
section#tourcolumn ul li article.tourEvent section.tourDate {
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 75px;
  height: 100px;
  text-align: center;
  margin-bottom: 10px;
  background: #393939;
}
section#tourcolumn ul li article.tourEvent section.tourDate h2 {
  color: #d44072;
}
section#tourcolumn ul li article.tourEvent section.tourDate h2 span {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding: 5px 0;
}
section#tourcolumn ul li article.tourEvent section.tourDate p {
  color: #3cbdc8;
  font-size: 13px;
}
section#tourcolumn ul li article.tourEvent section.tourDate span.year {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
section#tourcolumn ul li article.tourEvent aside.tourInfo h3 {
  float: left;
  width: 65%;
  margin-left: 10px;
}
section#tourcolumn ul li article.tourEvent aside.tourInfo h3 span {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  color: #d44072;
  margin: 0;
}
section#tourcolumn ul li article.tourEvent aside.tourInfo button {
  display: inline;
  float: left;
  width: 39.58333333333333%;
  margin: 0 1.0416666666666665%;
  height: 30px;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #393939;
  margin-top: 40px;
}
section#tourcolumn ul li article.tourEvent aside.tourInfo button a {
  padding-top: 3px;
  display: block;
  width: 100%;
  height: 100%;
}
aside#sidebar {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  overflow: hidden;
}
aside#sidebar img#tour {
  margin: 10px 0;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
footer {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background: #393939;
  text-align: center;
}
footer p {
  color: #3cbdc8;
  padding: 5px;
  font-size: 10.4px;
  cursor: default;
}
