@import 'styles/brand.less';
@import 'styles/typography.less';
@import 'styles/grid.less';
@import 'styles/mixins.less';

.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: #2BB293;
}

#active{
	text-decoration: line-through;
	font-weight: bold;
	font-family: @headingfontfamily;
}

header{
	h1 {
		.column(9);
		
  			a {
  				margin: 5px 0 5px 10px;
  				color: @headerColor;
  				&:hover {
  					text-decoration:none;
  					font-family: @bodyfontfamily;
  				}
  			}
  		}
  		aside{
  			.column(3);
  			background: url("../Images/getOnItunes.jpg") no-repeat;
  			background-size: 100% 100%;
  			text-indent: -999999px;
  			border-radius: 16%;
  			height:130px;
  			margin-top: 5px;
  			a{
  				display: block;
  				width: 100%;
  				height:100%;
  			}

  		}
  		nav {
  			.column(12);
  			height:21px;
  			border-bottom: 2px solid @navBorderColor;
  			text-align: center;
  			margin-top: 9px;
  			ul {
  				height:16px;
  				margin: 0 auto;
  				li {
  					display: inline-block;
  					color: @color1;
  					font-size: @basefontsize*1.5;
  					margin: 0 5px;
  				}
  			}
  		}
	&#top{
		height:175px;
  		.column(12);
  		background:url("../Images/acidstag(dot)com(edited).jpg") no-repeat;
  		background-size: 100% 100%;
  	}
  	&#top-tour{
  		height:175px;
  		.column(12);
  		background:url("../Images/buzznet(dot)com(edited).jpg") no-repeat;
  		background-size: 100% 100%;
  	}
  	&#top-about{
  		height:175px;
  		.column(12);
  		background:url("../Images/themusic(dot)com(dot)au(edited).jpg") no-repeat;
  		background-size: 100% 100%;
  	}
}
aside#sidebar {
  	.column(5);
  	overflow: hidden;
  	img{
  		&#tour{
  			margin: 10px 0;
  			width:100%;
  		}
  	}
}

section#maincolumn {
  .column(7);
  overflow: auto;
  h2{
  	margin: 10px 0;
  }
}

footer{
	.column(12);
	background: @headerBackground;
	text-align: center;
	p{
		padding: 5px;
		font-size: @basefontsize*.7
	}
}