body {
  font-family: Georgia, "Times New Roman", serif;
}
p {
  color: #3CBDC8;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 44px;
  color: #3cbdc8;
}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 44px;
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 44px;
}
a {
  color: #3cbdc8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline line-through;
  font-weight: bold;
}
