// Create Color Variables here
// -------------------------

@color1: #3CBDC8;
@color2: #393939;
@color3: #D44072;
@color4: #898989;
@color5: #2BB293;



// Typography Variables go here
// -------------------------

@bodyfontfamily: 'Roboto', sans-serif;
@headingfontfamily: 'Droid Sans', sans-serif;

@basefontsize: 13px;
@baselineheight: 18px;
@basefontcolor: #898989;
@basefontweight: 300;

@headingfontweight: 700;




