// Create Color Variables here
// -------------------------

@color1: #000000;


// Typography Variables go here
// -------------------------

@bodyfontfamily: Georgia, "Times New Roman", serif;
@headingfontfamily: Helvetica, Arial, sans-serif;

@basefontsize: 18px;
@baselineheight: 21px;
@basefontcolor: #898989;
@basefontweight: normal;

@headingfontweight: bold;




