@import 'brand.less';
@import 'typography.less';
@import 'grid.less';

.box-sizing () {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

// Defaults to 5px radius
.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;
}

.section-setup{
	max-height: 606px;
	margin-top: 10px;
	overflow: auto;
	cursor: default;
}

.header-setup{
	height:175px;
  	.column(12);
  	background-size: 100% 100%;
}

.active-indicator{
	text-decoration: line-through;
	font-weight: bold;
	font-family: @headingfontfamily;
}

.full-size-link{
	display: block;
  	width: 100%;
  	height:100%;
}